body {
    font-family: sans-serif;
    background: linear-gradient(#EAEAEA, #D7D7D7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* header */
header {
    background: linear-gradient(to right, rgb(238, 9, 121), rgb(254, 105, 0));
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

header nav.flex {
    justify-content: space-between;
    padding: 12px 10px;
}

ul li {
    list-style-type: none;
}

.hamburger .iconify:hover {
    cursor: pointer;
}


.right {
    justify-content: space-evenly;
    
}

.right .iconify, .right .inline {
    display: none;
    order: -1;
    /* flex-direction: column; */
}

header .iconify {
    color: #fff;
    height: 1.3rem;
    width: 1.3rem;
    align-items: center;
    margin-right: 12px;
}

header input {
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 15px;
    height: 20px;
    width:220px;
    font-size: 14px;
}

header input:focus {
    outline: none;
}

header .search, header .notification {
    position: relative;
}

header #magnifier.iconify {
    color: #3a3939;
    position: absolute;
    left: 190px;
    /* right: 0px; */
    height: .8rem;
    top: 8px;
    width: .8rem;
}

header .notification-alert {
    background: rgb(0, 139, 255);
    border-radius: 160%;
    color: #fff;
    position: absolute;
    top: -2px;
    left: 6px;
    font-size: 8px;
    padding: 2px;
    text-align: center;
    width: 18px;
    height: 12px;
}

.profile img {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
}

.inline {
    display: inline-block;
}

/* main */
main {
    height: 100vh;
    overflow: auto;
    padding: 100px 10px 40px;
}


/* card-wrapper */
.card {
    color: #fff;  
    background: #eee;
    border-radius: 5px;
    font-weight: 500;
    padding: 20px;
    margin: 10px auto;
    justify-content: space-between;
    /* width: 300px; */
    flex: 0 0 95%;
}


.card#card-1 {
    background: linear-gradient(to top right, rgb(34, 218, 219), rgb( 95, 122, 233));
}

.card#card-2 {
    background: linear-gradient(to top right, rgb(244, 75, 158), rgb(253, 116, 117));
}

.card#card-3 {
    background: linear-gradient(to top right, rgb( 62, 229, 146), rgb(58, 178, 182));
}

.card#card-4 {
    background: linear-gradient(to top right, rgb(247, 221, 98), rgb(255, 130, 85));
}

.card .card-number {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card-img .iconify {
    width: 3rem;
    height: 3rem;
    align-items: center;
    display: inline;
}



/* aside */
aside {
    background: #1A262B;
    color: #9DACB2;
    display: none;
    width: 60%;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    padding: 80px 0 0;
    height: 100vh;
    overflow: auto;
    z-index: 5;
    transition: width .3s ease-in-out;
}

aside ul, aside li, aside a {
    color: #9DACB2;
}

aside a {
    text-decoration: none;
    font-size: 13px;
}

aside i {
    margin: 0 5px;
    font-size: 15px;
}

aside li {
    padding: 5px 10px;    
}

aside .logo {
    border-bottom: 1px solid #0C1215;
    padding: 25px 0;
    justify-content: space-around;
}

aside .logo i {
    color: rgb(244, 75, 158);
}

aside .logo span {
    font-size: 24px;
    font-weight: 600;
}

.main-nav {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #0C1215;
    padding: 20px 5px;
}

.sidebar-list {
    /* border-bottom: 1px solid #0C1215; */
    /* padding: 10px 0; */
}

/* .sidebar-list:nth-child(n+2) {

} */

.menu-name {
    /* margin: 5px 0; */
    width: 90%;
    text-align: left;
}

.nav-menu {
    /* border: 1px solid transparent; */
    border-bottom: 1px solid #0C1215;
}

.nav-menu button {
    border: none;
    cursor: pointer;
    background: transparent;
    color: #9DACB2;
    padding: 20px 0;
}

.nav-menu button i {
    margin-left: 10px;
}

.nav-menu button:focus{
    outline: none;  
    border-left: 3px solid red;
}

.nav-menu button::after {
    content: '\276e';
    float: right;
    transform: rotate(-90deg);
    transition: all 0.2s ease-out;
}
/* 
.nav-menu button.btn-down {

} */

.nav-menu button.btn-down::after {
    content: '\276e';
    font-family: 'FontAwesome';
}

.nav-menu ul {
    margin: 10px 0;
    display: none;
}

.active {
    display: block;
}





.chart {
    flex-wrap: wrap;
    margin-top: 20px;
}

.chart .flex {
    justify-content: space-between;
    margin: 10px 0 20px;
}

canvas{
    user-select: none;
    max-width: 95%;
    height: 100%;
    margin: 0 auto;
}

.line-wrapper {
    width: 90%;
}

.bar-wrapper {
    width: 90%;    
}

.line-wrapper, .bar-wrapper {
    background: #fff;
    padding: 20px;
    height: auto;
    margin: 10px 0;
    /* width: 95%;
    margin: auto;
    
    position: relative; */
}

/* canvas#barChart {
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;

} */



@media (min-width: 530px) {
    .right .iconify, .right .inline {
        display: flex;
        flex-direction: column;

        order: -1;
    }

    .profile .inline {
        display: none;
    }

    aside {
        min-width: 35%;
        max-width: 40%;
    }
}

@media (min-width: 768px) {
    .card {
        flex: 0 0 45%;
        /* width: 50%; */
    }

    aside {
        min-width: 200px;
        max-width: 250px;
    }
    .right {
        /* float: right; */
        margin-left: 250px;
        transition: .3s linear;
    }

    /* .high {
        z-index: 20;
        padding-top: 20px;
    } */

    /* aside {
        top: 0;
    }

    header, main {
        width: 60%;
        
    } */

    
}

@media (min-width: 992px) {
    

    /* .line-wrapper, .bar-wrapper {
        height: 400px;
    } */

    

    @media (min-width: 1025px) {
        .card {
                flex: 0 0 23%;
                padding: 30px 20px;
            }

        .line-wrapper {
            width: 50%;
        }
        
        .bar-wrapper {
            width: 40%;    
        }

    }
}


/*

// const navMenu = document.getElementsByClassName("nav-menu")

const buttons = document.querySelectorAll("button")
const navMenu = document.querySelectorAll(".nav-menu")
const navList = document.querySelectorAll(".menu-item")
const hamburger = document.querySelector(".hamburger .iconify")
const sidebar = document.querySelector("aside")
const wrapper = document.querySelector(".wrapper")
const headerNav = document.querySelector("header nav")

// toggle sidebar
hamburger.addEventListener('click', () => {
    sidebar.classList.toggle('active')
    wrapper.classList.toggle('right')
    headerNav.classList.toggle('right')
    // sidebar.classList.toggle("high")
})



// toggle side nav menu
buttons.forEach((button) => {
    let currentMenu = button.firstElementChild
    currentMenu.addEventListener("click", toggleSideList)
})


function toggleSideList (e) {
    navMenu.forEach((menu) => {
        if (menu.previousElementSibling === e.target) {
            menu.classList.toggle("active")
        }
    })
}



*/